/*カラーパレット
メインカラー : #4b72a6
ベースカラー : #B2C4DC
アクセントカラー(候補1) : #f8ba69
アクセントカラー(候補2) : #f79d65
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.05rem;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #b2c4dccc;
  align-items: center;
  padding: 0px;
  z-index: 1;
}

header a {
  display: flex;
  justify-content: center;
}

header ul li a {
  color: #4b72a6;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
}

header ul li a:hover {
  background-color: #f79d65;
  transition: all 0.3s ease;
}

header ul li a:not(:hover) {
  transition: all 0.3s ease;
}

header img:first-child {
  width: 150px;
  height: 100px;
}

header img:last-child {
  width: 150px;
  height: 100px;
}

header li {
  list-style: none;
  display: inline-block;
  margin-bottom: 1rem;
}

#hero {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

#hero img {
  color: #4b72a6;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#hero p {
  color: #b2c4dc;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  text-align: center;
}
#hero span {
  display: inline-block;
  font-size: 2rem;
}

#hero video {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: relative;
  object-fit: cover;
}

#about {
  background-color: #ffffff;
}

#about h3 {
  align-content: center;
  text-align: center;
  padding: 3rem;
  font-size: 2rem;
  color: #f79d65;
}

#about h3 span {
  display: inline-block;
}

.shop-image {
  display: flex;
  flex-direction: column;
}

.shop-pic {
  width: 100%;
  height: auto;
  background-color: #b2c4dc;
}

.shop-pic img {
  width: 100%;
  height: auto;
}

.shop-description_pc {
  display: none;
}

.shop-description_mobile {
  display: block;
  text-align: center;
  padding: 1rem;
  color: #4b72a6;
  background-color: #b2c4dc;
}

.shop-description_mobile span {
  display: inline-block;
}

#menu {
  background-color: #b2c4dc;
  color: #4b72a6;
  padding-bottom: 1rem;
}

#menu h3 {
  align-content: center;
  text-align: center;
  padding: 3rem;
  font-size: 2rem;
}

#menu h3 span {
  display: inline-block;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#menu span {
  font-size: 1.8rem;
}

.menu-item img {
  width: 100%;
  height: auto;
}

.menu-detail h4 {
  font-size: 1.7rem;
  padding: 1rem;
}

.menu-detail p:first-of-type {
  font-size: 1.2rem;
  padding: 1rem;
  color: #f96000;
}

.menu-detail p:last-of-type {
  padding: 1rem;
  color: #4b72a6;
}

.linkbutton-viewmenu {
  background: #f79d65;
  margin: 2rem;
  border-radius: 0.5rem;
}

.linkbutton-viewmenu a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.3rem;
  padding: 1.5rem 5rem;
}

#access {
  background-color: #b2c4dc;
  padding: 2rem;
}
#access > img {
  width: 100%;
  height: auto;
  padding: 2rem;
}

.access-information {
  display: table;
  width: 100%;
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

.information,
.number,
.time,
.holiday,
.seats,
.equipments,
.station {
  display: table-row;
}

.information p,
.number p,
.time p,
.holiday p,
.seats p,
.equipments p,
.station p {
  display: table-cell;
  border-bottom: solid 1px #f79d65;
}

.information p:first-child,
.number p:first-child,
.time p:first-child,
.holiday p:first-child,
.seats p:first-child,
.equipments p:first-child,
.station p:first-child {
  width: 25%;
}

.information p:last-child,
.number p:last-child,
.time p:last-child,
.holiday p:last-child,
.seats p:last-child,
.equipments p:last-child,
.station p:last-child {
  padding: 0.5rem 0;
}

.google-map {
  display: none;
}

.social {
  display: flex;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #f79d65;
}

.social img {
  width: 70%;
  height: auto;
}

.company p {
  text-align: center;
  font-size: 0.8rem;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 5rem;
  height: auto;
  text-align: center;
  z-index: 1;
}
.back-to-top img {
  width: 100%;
  height: auto;
}

.company {
  background-color: #f79d65;
}

.instagram img {
  transition: background-color 0.5s;
  background-color: #f79d65;
}

.instagram img:hover {
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  border-radius: 1.5rem;
  transition: all 0.3s ease;
}

.instagram img:not(:hover) {
  background: #f79d65 no-repeat;
  border-radius: 1.5rem;
  transition: all 0.3s ease;
}

.facebook img {
  transition: background-color 0.5s;
  background-color: #f79d65;
}

.facebook img:hover {
  background: #3b5998 no-repeat;
  border-radius: 1.5rem;
  transition: all 0.3s ease;
}

.facebook img:not(:hover) {
  background: #f79d65 no-repeat;
  border-radius: 1.5rem;
  transition: all 0.3s ease;
}
