/* 第5回 課題1 CSS練習問題 */

.a1 {
  color: #ff0000;
}

.a1:hover {
  color: #000000;
}

.a2 {
  color: #0000ff;
  text-decoration: none;
}

.a2:hover {
  color: #000000;
  text-decoration: underline;
}

.a3,
.a3:visited {
  color: #f35;
}

.a4 {
  padding: 25px 65px;
  background-color: #ff7f7f;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.sub2:hover {
  background-color: #0000ff;
  transition-duration: 0.3s;
}

.a5 {
  font-size: 300px;
  display: block;
  text-decoration: none;
}

@keyframes rotate-360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.a5:hover {
  animation-name: rotate-360;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes bg-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.btn-register {
  padding: 1rem 3rem;
  border-radius: 10px;
  background: linear-gradient(45deg, #d43620, #436da6, #00ff00, #ffff00);
  background-size: 400% 400%;
  animation: bg-animation 20s ease infinite;
}

.btn-animate {
  padding: 1rem 3rem;
  margin: 1rem;
  position: relative;
  text-decoration: none;
}

.btn-animate:before,
.btn-animate:after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  display: inline-block;
}
.btn-animate:after {
  border-right: solid 4px #5f5f5f;
  border-top: solid 4px #5f5f5f;
  top: 0;
  right: 0;
}
.btn-animate:before {
  border-left: solid 4px #5f5f5f;
  border-bottom: solid 4px #5f5f5f;
  bottom: 0;
  left: 0;
}

@keyframes border-trans-after {
  from {
    border-right: 4px solid #5f5f5f;
    border-top: 4px solid #5f5f5f;
  }
  to {
    border-right: 4px solid #cbcbcb;
    border-top: 4px solid #cbcbcb;
    width: 97%;
    height: 93%;
  }
}

@keyframes border-trans-after-reverse {
  from {
    border-right: 4px solid #cbcbcb;
    border-top: 4px solid #cbcbcb;
    width: 97%;
    height: 93%;
  }
  to {
    border-right: 4px solid #5f5f5f;
    border-top: 4px solid #5f5f5f;
    width: 15%;
    height: 40%;
  }
}

@keyframes border-trans-before {
  from {
    border-left: 4px solid #5f5f5f;
    border-bottom: 4px solid #5f5f5f;
  }
  to {
    border-left: 4px solid #cbcbcb;
    border-bottom: 4px solid #cbcbcb;
    width: 97%;
    height: 93%;
  }
}

@keyframes border-trans-before-reverse {
  from {
    border-left: 4px solid #cbcbcb;
    border-bottom: 4px solid #cbcbcb;
    width: 97%;
    height: 93%;
  }
  to {
    border-left: 4px solid #5f5f5f;
    border-bottom: 4px solid #5f5f5f;
    width: 15%;
    height: 40%;
  }
}


@keyframes transition {
    from {
        background-color: white;
        color: black;
    }
    to {
        background-color: black;
        color: white;
    }
}

@keyframes transition-reverse {
    from {
        background-color: black;
        color: white;
    }
    to {
        background-color: white;
        color: black;
    }
}

/* ボーダーのアニメーション実装 */
.btn-animate:hover:after {
  animation: border-trans-after;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.btn-animate:hover:before {
  animation: border-trans-before;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

/* マウスが離れた際のアニメーション実装 */
.btn-animate:not(:hover):after {
  animation: border-trans-after-reverse;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.btn-animate:not(:hover):before {
  animation: border-trans-before-reverse;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

/* 背景のトランジション実装 */
.btn-animate:hover {
  animation: transition;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.btn-animate:not(:hover) {
    animation: transition-reverse;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}