input, label, select, button, textarea {
    margin: 0;
    border: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    background: none;
    line-height: 1;
    font-size: inherit;
    font-family: inherit;
  }

h1 {
  text-align: center;
  padding: 2rem;
}

.form-group {
  margin: 1rem;
}

.form-group:nth-child(5) {
  display: flex;
  padding-left: 0rem;
  padding-top: 0.5rem;
}

.form-group:nth-child(5) label {
  margin-right: 4.5rem;
}

.form-group:nth-child(6) {
  display: flex;
}

.form-group:nth-child(6) label {
  margin-right: 4rem;
}

.form-group:nth-child(7) {
  display: flex;
}

.form-group:nth-child(7) label {
  white-space: nowrap;
  padding-right: 2rem;
  margin-right: 2rem;
}
