/* 1 */
/*
<li>文字色を#CFA200</li>
<li>背景色を#00103E</li>
*/
#kadai3-1 {
  color: #cfa200;
  background-color: #00103e;
}

/* 2 */
.kadai3-2 {
  color: #39383c;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.2;
  border-left: 8px #d64123 solid;
  border-bottom: 1px #d64123 solid;
  padding: 0 4px;
}

/* 3 */
.kadai3-3 {
  color: #fff;
  font-size: 16px;
  height: 300px;
  width: 300px;
  background-image: url(kadai3-3.png);
  background-repeat: repeat-x;
  border: 1px #39383c dotted;
  margin: 20px;
}

/* 4 */
.kadai3-4 {
  height: 600px;
  width: 800px;
  background-color: #4d3842;
  border-radius: 20px;
}

.kadai3-4 .kadai3-4child {
  height: 75px;
  width: 75px;
  background-color: #db5d67;
  display: inline-block;
  border-radius: 50%;
  margin: 25px;
}

/* 5 */
.kadai3-5 {
  height: 600px;
  max-width: 700px;
  min-width: 700px;
  background-color: #7a6d5f;
  font-size: 0;
  overflow: hidden;
}

/* 6 */
.kadai3-6 {
  height: 450px;
  width: 400px;
  background-color: #f7f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
}

.kadai3-6 img {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.kadai3-6 p {
  text-align: center;
  font-family: cursive;
  font-size: 24px;
  margin: 0.5em;
  transform: rotate(-5deg);
}

/* 7 */
.kadai3-7 {
  font-family: BIZ UDPMincho, Hiragino Mincho ProN W3, serif;
  font-size: 16pt;
  font-feature-settings: "palt";
}

.kadai3-7 .metadata {
  background-color: rgb(240, 240, 240);
  padding: 1em;
}

.kadai3-7 > .metadata > .title {
  text-align: center;
  letter-spacing: 0.2em;
  font-size: 3em;
}

.kadai3-7 > .metadata > .author {
  text-align: center;
  letter-spacing: 0.2em;
  font-size: 1.25em;
}

.kadai3-7 > main {
  padding: 1em;
}

.kadai3-7 main .title {
  font-size: 1.25em;
}

.kadai3-7 main p.text {
  padding-left: 1em;
  line-height: 1.8em;
  letter-spacing: 0.025em;
}

/* 8 */
body {
  background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0) 0%,
      rgba(255, 255, 255, 1) 60%
    ),
    url(kadai3-8.jpg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 400px 400px;
  background-attachment: fixed;
}
