/* 第5回 課題2 パンくずリストの作成 */
.breadcrumb {
    list-style: none;
    display: flex;
}

.breadcrumb li:after{
    content: ">";
    padding: 0 0.5rem;
}

.breadcrumb li:last-child:after{
    content: "";
}